body {
    margin: 0;
    padding: 0;
}
footer {
   padding: 8px;
   background-color: white;
   text-align: center;
}
nav {
   background-color:white;
   padding: 5px;
   text-align: right;
}
nav li {
   display: inline;
   margin-right: 20px;
}
nav a {
   font-size: 18px;
   text-decoration:none;
   color:blue;
}
nav img{
	float: left;
    height: 50px;
}
section{
    width:80%;
    margin:auto;
    top: auto;
    padding:0 2pc;
    background:#fff;
}